.checkoutHeader {
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

body {
  margin-bottom: 10%;
  margin-right: 5%;
  margin-left: 5%;
  color: #1a202c;
  text-align: left;
  background-color: #ddbea9;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  /*
    position: relative;
    display: flex;
    flex-direction: column;
    */
  padding: 2%;
  margin: 2%;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}

.container-fluid {
  display: flex;
  flex-direction: column;
  column-count: 2;
}

.checkoutCol {
  background-color: #ffe8d6;
  padding: 2%;
}
/*
  .floatLeft {
    float: left;
  }

  .floatRight {
    float: right;
  }
*/

.updateButton {
  float: right;
}
.shadow-none {
  box-shadow: none !important;
}
.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.825rem;
  background: #ffffff;
  color: #2e323c;
}

input[type="submit"] {
  padding: 5px 15px;
  background: #f6c604;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.orderButton {
  align-self: center;
  width: 5%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/*
input[type=button]:hover
{
  background-color: #46000D
}
*/
/*
Hecking. Textbox size. WILL NOT CHANGE
Try looking up Media Query
*/
input,
select,
textarea {
  max-width: 900px !important;
}

.inputStuff {
  width: 100%;
}
