.navIcon {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: white;
  text-decoration: none;
}

.navSearchSelector {
  padding: 0.375rem 0rem;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
}

.navSearch {
  width: 400px;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
}

.navContainer {
  justify-content: start;
}

.navContainerIcons {
  justify-content: end;
}

.navigationBrand {
  padding-right: 1rem;
}
