 .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
        width: 260px;
        align-items: center;
        background-color: white;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

        &__title {
            font-size: 20px;
            text-align: center;
            margin-bottom: 0;
        }

        &__author {
            font-size: 14px;
            margin-top: 0;
        }

        &__img {
                width: 140px;
                height: auto;
            }
    
        input.card__btn[type=submit] {
            background-color: #C3DBC5;
            color: #36373D;
            border: none;
            padding: 10px 30px;
            margin: 6px 4px;
        }
        
        input.card__btn[type=submit]:hover {
            cursor: pointer;
            background-color: #a4caa7;
        }
    }
