    .container {
        width: 100%;
        max-width: 960px;
        margin: 20px auto;

    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px;

        background-color: white;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

        &__title {
            font-size: 20px;
            flex-grow: 1;
            margin-bottom: 0;
        }

        &__author {
            font-size: 15px;
            margin-top: 0;
        }

        &__img {
                width: 200px;
                height: auto;
            }
    
        input.card__btn[type=submit] {
            background-color: #C3DBC5;
            color: #36373D;
            border: none;
            padding: 10px 30px;
            margin: 6px 4px;
        }
        
        input.card__btn[type=submit]:hover {
            cursor: pointer;
            background-color: #a4caa7;
        }
    }
